node_modules
.history
.vscode
config
downloaded_files
input
node_modules
myenv
output
output_pdf

/my_web_scrapper_utils.py
/package-lock.json
/README.txt.txt
/Scrapper_file.csv
/test.py
/web-scraping-using-python.ipynb

/modules
/my_web_scrapper_utils.py
/README.txt

/my_web_scrapper_utils.py

/my_web_scrapper_utils.py
/__pycache__
